*.iml
.gradle/
/local.properties
/.idea/
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.log
*.hprof
.DS_Store
Thumbs.db

# Android Studio
out/

# Firebase
**/google-services.json

# Local properties (Android SDK path)
local.properties
**/local.properties

# Firebase (NO subir)
google-services.json
**/google-services.json
